---
title: About Us
hero_image: '/images/about-us-hero.webp'
header_class: 'class="white-nav"'
main_classes: 'id="about-main"'
---
{% extends "layout.html" %}

{% block hero_text %}
<p class="hero-headline hero-headline-white">
What Makes Us <span class="hero-callout">Different</span>
</p>
<a href="/courses"><button>Our Courses</button></a>
{% endblock hero_text %}

{% block main %}

<div class="page-text-wrapper">
  <h2>
    Studying at Asynchronous Academy
  </h2>

  <p>
    Asynchronous Academy is a continuous intake, asynchronous high school.  We are inspected by the Ontario Ministry of Education, and are authorized to
    grant Ontario high school credits that lead to an OSSD (BSID 665288).
  </p>

  <p>
    When you enroll in a course with us, you will have 12 months from your date of enrolment to complete the requirements for your course.  All of our courses are designed
    to meet the Ministry of Education mandated length of 110 hours, which is just over four months if you work 75 minutes every weekday, exactly like a course in a brick-and-mortar
    school. Because of the generous timeline, you have a lot of flexibility to make our courses fit your schedule.  If you only have time to do a portion of the course before 
    you need to take a break for a few months, it's no problem.   If you have any questions, your teacher will respond in chat within 24 hours.  As long as all of your assignments 
    are complete within your enrollment window, the pacing is up to you.  Midterm marks are assigned after 50% of coursework has been completed.  No one is breathing down your neck,
    but if you ever need help, it's just a chat message away.
  </p>

  <p>
    While we offer Ontario high school credits, we welcome students from all across Canada.  High school credits are generally transferrable between provinces, as students sometimes move between
    provinces and don't have to restart high school.  Check with the guidance counsellor at your school to see how Ontario transfer credits are treated in your province.  We also welcome international
    students who are working towards an OSSD.
  </p>


  <h2>
    How is Asynchronous Academy Different?
  </h2>
  <p>
   Throughout the COVID lockdowns, it became apparent that there was a lot of demand for online high school courses, but just moving a "chalk and talk"-style lesson online was not
   engaging for anyone.  Because of the deep integration of technology into our lives, many new educational opportunities existed, but were not being made available to students.
   Asynchronous Academy was built to provide those opportunities.
  </p>
  <p>
   By focusing on what students find engaging and letting them follow their passions, our courses allow students to take ownership of their learning and develop the independent learning
   skills which are required for success in post-secondary education.  We embrace Amazon's concept of <a href="https://aws.amazon.com/executive-insights/content/how-amazon-defines-and-operationalizes-a-day-1-culture/"
                                                                                                         target="_blank">Day 1 Culture</a>
   and always strive to empower students to try something new and daring.  We believe that by exploring the limits of what a class can be, our students can develop the habits of a lifelong
   learner and retain a curious mindset throughout their lives.
  </p>
</div>

<div class="tile-wrapper">
  <div class="two-tile tile active-tile">
    <div class="tile-floating-text-box">
      <h3>
        Designed for Active Learners
      </h3>
      <p>
        Due to a variety of factors, public schools are often struggling to offer the rich variety of field trips and other hands-on experiences that used to engage many students.
        Because our courses are done from home, in the care of a student's parents or guardians, each family can decide the opportunities that are appropriate for them.  While the Ministry
        of Education has no problem recognizing that rodeo or hunting are both examples of healthy, active lifestyles that could count towards a physical education credit, the logistical and
        insurance difficulties around guns at school or the upkeep associated with a class set of bulls means those activities will never be represented at a traditional school.
      </p>
      <p>
        We let you make the decisions that are right for you and your family.  If you feel like there are things you'd rather be doing, we can help make that possible.  We try to map out the simplest
        path to a credit, and give you the tools and support to do anything from achieving the credit in the most straightforward manner possible to earning top marks by demonstrating advanced-level skills.
        A 14-year-old who has been taking music lessons since they were 5 can document the practice they're already doing and get recognition for the advanced-level skills they have developed, instead of having to
        start over as a beginner on a busted-up clarinet that's had 500 kids' mouths on it.
      </p>
      <p>
        If you're actively engaged in any sort of personal development that isn't being recognized by your school, we want to help you get credit for it.
      </p>
    </div>
  </div>

  <div class="two-tile tile internet-tile">
    <div class="tile-floating-text-box">
      <h3>
        Designed for the Internet
      </h3>
      <p>
        Not so long ago, the main type of disinformation we had to deal with was that the person in your social group who was best (or most aggressive) at arguing would be able to mislead people, since it was so
        difficult to access knowledge.  You could, on the other hand, go to the library and feel like you were getting information you could trust. Having a bunch of facts in your head to help you navigate your 
        life was a good strategy.
      </p>
      <p>
        These days, it's the opposite problem.  You have all the information in the world in your pocket, but the best information is right next to the worst, and they more or less look identical.
      </p>
      <p>
        Our courses are designed with the belief that independent inquiry and critical thinking are the basic skills that people need in the internet age.  We believe that being able to quickly access reliable information
        that they can act upon will give our students the ability to be agile and take advantages of the opportunities that present themselves in a rapidly-changing world.
      </p>
    </div>
  </div>

  <div class="two-tile tile c21-tile">
    <div class="tile-floating-text-box">
      <h3>
        Designed for the 21<sup>st</sup> Century
      </h3>
      <p>
        Another reality of life with smartphones is that we all have a broadcasting studio in our pockets.  Social media has demonstrated that anyone can get the attention of the whole world, and in order to prepare students
        for their futures, there are now a much wider range of communication skills that are necessary.  While being able to write in a clear way was the primary communication skill students needed, these days you also
        need to be able to present visual and audio content on global platforms.  There is no less need for reading and writing, but in the last 20 years, we have started to expect students to master two new entire 
        mediums of communication.
      </p>
      <p>
        The same way that students used to (and still need to) be able to use a word processor, they also need to have familiarity with video and audio workstation software.  The vast majority of existing teachers do not
        have mastery over these modern tools, and as such, can't teach their use.  We make sure that there are a variety and choice of formats in all of our courses, which gives students the opportunity to develop today's skills,
        so they are not two generations behind when the technologies of tomorrow arrive.
      </p>
    </div>
  </div>
  <div class="two-tile tile efficiency-tile">
    <div class="tile-floating-text-box">
      <h3>
        Designed for Efficiency
      </h3>
      <p>
        Everyone could use more time.  Because our courses tie into your lifestyle, you can get some back by recording the parts of your life that would meet Ministry of Education requirements and moving through
        high school faster or more flexibly.  By taking two courses with us while maintaining a full courseload at your day school, you can have earned the 30 credits necessary for an OSSD by the time you finish
        your first semester of Grade 12.
      </p>
      <p>
        If that's not fast enough, if you do a phys ed and music course with us every year, you can be finished after Grade 11.  All you need to do is make some music and stay in shape (and record what you're doing).
        We put you in charge so that you can have the flexibility to get the education you deserve.
      </p>
    </div>
  </div>
</div>

<div id="about-moving-forward" class="page-text-wrapper">
  <h2>
    Moving Forward
  </h2>
  <p>
  If our educational model sounds like it matches your vision of the future, take a look at our Courses and see how we can help you meet your educational goals.  If you have any other questions, feel free
  to reach out through any of the methods listed on our <a href="/contact">Contact Page</a> for answers from a real, live human.
  </p>
  <a href="/courses"><button >Our Courses</button></a>
</div>

{% endblock main %}
