$text: #000000;
$green: #75ae55;
$yellow: #f4d73d;
$blue: #007194;
$blue-grad: linear-gradient(65deg, rgb(0, 133, 174) 0%, rgb(82, 193, 219) 100%);
$green-grad: linear-gradient(90deg, #2f772f 0%, #75ae55 100%);
$white-grad: linear-gradient(0deg, rgba(0,0,0,0) 0%, #000000 90%);



@mixin sm {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: 1000px) {
    @content;
  }
} 

@mixin lg {
  @media screen and (min-width: 1400px) {
    @content;
  }
} 

@mixin xl {
  @media screen and (min-width: 2000px) {
    @content;
  }
} 


* {
  box-sizing: border-box;
}

html {
  font-family: "nunito sans", sans-serif;
  color: $text;
}

body {
  margin: 0;
  line-height: 200%;
}

main {
  @media screen {
    @include sm {
      display: flex;
      flex-direction: column;
      position: relative;
    }
    @include md {
      display: grid;
      grid-template-columns: 12.5% 12.5% 50% 12.5% 12.5%;
      position: relative;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $blue;
  text-align: center;
}

a {
  text-decoration: none;
  color: $blue;
}

strong {
  font-weight: 600;
}


//Forms
//

button, input[type="button"], input[type="submit"] {
  color: black;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 0.5rem;
  border-radius: 24px;
  background-color: white;
  border: 1px solid white;
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover {
  transform: scale(1.05);
}

button:active, input[type="button"]:active, input[type="submit"]:active   {
  transform: scale(0.95);
  background-color: $blue;
  border: $blue;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid $blue;
  border-left: 4px solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 


// Utility
//
//


.hidden {
  display: none !important;
}

.grecaptcha-badge { 
  visibility: hidden; 
}

.rounded {
  border-radius: 16px;
}

.slanted {
  clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
}

.youtube-video { 
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  iframe {
    width: 90%;
    aspect-ratio: 16 / 9;
  }
}

