//Header
//
//

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background: $white-grad;
  color: white;
  text-shadow: 5px 5px 5px black;
  font-weight: 700;

  @include md {
    padding: 0 2rem;
  }

  a {
    @include sm {
      margin: 0 1rem 0 0;
    }
    @include md {
      margin: 0 0 0 2rem;
    }
    color: white;
  }

  button {
    padding: 0.5rem 1.2rem;
    @include md {
      margin: 0 2rem;
    }
  }

  nav {
    height: 100%;
    display: flex;
    align-items: flex-end;
    @include sm {
      flex-direction: column;
    }
  }

  #header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include sm {
      padding: 0 1rem;
    }
  }

  #header-name {
    font-size: 3rem;
    line-height: 1;
    @include md {
      padding: 0 4rem;
    }
  }

  .header-block {
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
  }

}

// Index Page
//
//

#hero {
  grid-column: 1 / span 5;
  width: 100%;
  height: 100dvh;
  background-image: url('/images/index-hero.webp');
  background-size: cover;
  @include sm {
    background-position: right 45% center;
  }
}

#content {
  min-height: 400dvh;
}

