// Index Page
//
//

.index-hero {
  background-position: center right 35% !important;
}


.index-hero-text {
  @include sm {
    p {
      margin: 0;
    }
    a, button {
      margin: 1rem 0 !important;
    }
  }
}

#index-main-content {
  background-color: $lightblue;
  h2 {
    color: $darkblue;
  }

  #index-main-callout {
    text-align: center;
    @include sm {
      order: 1;
      padding: 1rem 2rem 2rem;
      grid-column: 2 / span 3;
    }
    @include md {
      padding: 4rem 0 6rem;
      grid-column: 3 / span 1;
    }
  }

  #index-course-preview-1 {
    @include sm {
      order: 2;
    }
  }

  #index-course-preview-2 {
    @include sm {
      order: 3;
    }
  }

  #index-callback-form {
    @include sm {
      order: 4;
    }
    @include md {
      grid-column: 1 / span 5;
      display: grid;
      grid-template-columns: 12.5% 12.5% 50% 12.5% 12.5%;
    }
  }

  #index-sample-content-wrapper {
    @include sm {
      order: 5;
    }
  }

  #index-social-media {
  background-color: $medblue;
    @include sm {
      order: 6;
    }
    @include md {
      padding: 1rem 0;
    }

    .index-social-media-text {
      background-color: $medblue;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: right;
      padding-right: 4rem;

      @include sm {
        padding: 0 2rem;
      }

      h2 {
        color: white;
        text-align: right;
        width: 100%;
      }
    }
  }

  #index-differences-callout-wrapper {
    grid-column: 1 / span 5;
    background-color: lighten($medblue, 30%);
    display: flex;
    justify-content: center;

    @include sm {
      order: 7;
    }

  }
  #index-differences-callout {
    flex-basis: 85%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 1rem 0;
    padding: 4rem 0;
    @include sm {
      flex-direction: column;
    }
  }
  .index-difference {
    flex-basis: 32%;
    img {
      height: 20rem;
      max-width: 100%;
      aspect-ratio: 1/1;
      background-color: $medblue;
      border-radius: 50%;
      @include sm {
        margin-top: 2rem;
      }
    }
    .difference-heading {
      font-size: 1.4rem;
      font-weight: 700;
      margin-top: 3rem;
    }
    .difference-heading:hover {
      color: orange;
    }
  }
}

.index-preview-text {
  p {
    padding: 0 1rem;
    color: $text !important;
  }
  @include md {
    line-height: initial;
    font-size: 80%;
  }
  @include lg {
    line-height: 2;
  }
}

.index-preview-history {
  background-image: url('/images/index-course-preview-history.webp');
}

.index-preview-pe {
  background-image: url('/images/index-course-preview-pe.webp');
}

.index-preview-music {
  background-image: url('/images/index-course-preview-music.webp');
}

.index-preview-science {
  background-image: url('/images/index-course-preview-science.webp');
}

.index-preview-socmed {
  background-image: url('/images/index-preview-socmed.webp');

  p {
    margin: 0.5rem 0;
    line-height: initial;
    @include md {
      font-size: 75%;
    }
    @include lg {
      font-size: 100%;
    }
  }

  button {
    margin: 1rem 0;
  }
}

.index-ig-embed {
  background-color: $medblue;
}

.index-sample-content {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 2rem;

  a {
    display: flex;
    justify-content: center;
  }

  img {
    border: 1px solid $darkblue;
    max-height: 40rem; 
    aspect-ratio: 8.5 / 11;


    @include sm{
      max-width: 85%;
    }
    @include md {
      max-width: 80%;
    }
    @include lg {
      max-width: 90%;
    }
    @include xl {
      max-width: 100%;
    }
  }
}

#review-banner {
  grid-column: 1 / span 5;

  .review-tile {
    flex-basis: 50%;
    background-color: $lightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: initial;
    @include sm {
      flex-direction: column;
      padding-top: 2rem;
    }
    @include md {
      padding: 3rem;
      flex-direction: column;
      @include lg {
        flex-direction: row;
      }
    }

    img {
      background-color: $medblue;
      border-radius: 50%;
      width: 25%;
    }


    .review-tile-quote {
      font-size: 1.8rem;
      text-align: right;
      display: flex;
      flex-direction: column;
      padding: 0 1rem;

      .review-tile-quote-text {
        @include sm {
          text-align: center;
        }
        @include md {
          text-align: center;
        }
        @include lg {
          padding-left: 2rem;
          text-align: right;
        }
      }
    }
  }

  .review-image-tile {
    @include sm {
      display: none;
    }
  }

  .review-banner-ppl-left {
    @include md {
    background-position: center right 40%;
    }
  }
  .review-banner-ppl-right {
    @include md {
      background-position: center right 40%;
    }
  }
  .review-banner-amg-left {
    @include md {
    background-position: center left 20%;
    }
  }
  .review-banner-amg-right {
    @include md {
      background-position: center right 40%;
    }
  }

}

#callback-form-wrapper {
  @include sm {
    grid-column: 1 / span 5;
  }
  @include md {
    grid-column: 3 / span 1;
  }
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include sm {
      width: 100%;
    }

    input[type="text"] {
      width: 80%;
      margin: 1rem;
      padding: 1rem;
      background-color: rgba(0,0,0,0);
      border: none;
      border-bottom: 1px solid $darkblue;
      color: $darkblue;
      @include md {
        flex-basis: 40%;
      }
    }
    input[type="submit"] {
      padding: 0.5rem;
      margin: 1rem;
    }

    a {
      color: $darkblue;
    }

  }
  #callback-form-inputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 60rem;
    div {
      display: flex;
      justify-content: space-between;
    }
    @include sm  {
      flex-direction: column;
      width: 100%;
      div {
        align-items: center;
      }
      input {
        margin: 1rem 0;
      }

    }
    @include md {
      margin-bottom: 1rem;
      div {
        flex-basis: 50%;
      }
      label {
        display: flex;
        align-items: center;
      }
      input {
        flex-grow: 2;
      }
    }
  }
}

#course-guide {

  grid-column: 1 / span 5;
  padding: 2rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
  @include sm {
    flex-direction: column-reverse;
  }

  background-color: $lightblue;

  div {
    flex-basis: 25%;
    text-align: center;
    padding: 0 2rem;
  }

  #course-guide-sample {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    a, img {
      max-width: 80%;
    }
  }

}


// Courses Page
//
//


#courses-main {
  .tile {
    @include sm {
      margin: 1rem 0;
    }
  }
} 

#courses {
  grid-column: 1 / span 5;
  background-color: white;
  width: 100%;
  padding: 1rem 0;
}

#courses-contact-info {
  grid-column: 1 / span 5;
  color: white;
  display: flex;
  background-color: $medblue;
  justify-content: space-between;

  @include sm {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
  }

  div {
    position: relative;
    flex-basis: 25%;
    @include sm {
      h3 {
        margin-bottom: 0;
        color: $orange;
        text-shadow: $darkblue 0 0 4px;
      }
    }
    @include md {
      padding: 2rem;
    }
  }
  h2 {
    @include md {
      text-align: left;
    }
  }
  img {
    position: absolute;
    bottom: 0;
    left: 0;
    @include sm {
      display: none;
    }
  }
  h3 {
    color: white;
    width: 100%;
    text-align: left;
    @include sm {
      text-align: center;
    }
  }
  .courses-contact-right {
    position: relative;
    @include md {
      flex-basis: 35%;
    }
    @include lg {
      flex-basis: 27%;
    }

    @include xl {
      flex-basis: 20%;
    }
    a {
      color: white;
    }
    p {
      position: relative;
      z-index: 4;
    }


    @include sm {
      text-align: center;
    }
    @include md {
      text-align: right;
      h2 {
        text-align: right;
      }
    }
  }
}

#course-page-main {
  grid-column: 1 / span 5;
  position: relative;

  .course-description {
    @include sm {
      grid-column: 1 / span 5;
      padding: 0 2rem;
      ol, ul {
        text-align: left;
      }
    }
    @include md {
      grid-column: 2 / span 3;
      padding: 2rem 0;
    }
  }

  #callback-form-wrapper {
    grid-column: 1 / span 5;
    background-color: $medblue;
  }

  h2, p {
    color: darken($medblue, 40%);
  }

  .tile-wrapper {
    grid-column: 1 / span 5;
  }

  .tile {
    background-color: transparent;
    @include sm {
      height: 100%;
    }
  }

  .course-tile {
    padding: 3rem;
    flex-direction: column;
  }

}

#course-enroll-banner {
  grid-column: 1 / span 5;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  h2, h3 {
    font-size: 2rem;
  }


  button {
    box-shadow: $text 0 0 10px;
  }

  .course-enroll-banner-heading {
    background-color: $medblue;
    color: white;
    text-align: center;
    margin: 3rem 0 0;
    grid-column: 1 / span 3;
    display: flex;

    p {
      font-size: 2rem;
      font-weight: 600;
      line-height: 150%;
      color: white;
    }

    @include sm {
      padding: 2rem;
      flex-direction: column;
      
      p {
        margin: 1rem;
      }
    }
    @include md {
      padding: 2rem 0;
      justify-content: center;
    }

  }

  .course-enroll-banner-course {
    grid-column: 1 / span 3;
    background-color: $lightblue;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem 0 3rem;
    position: relative;

    @include md {
      padding: 0;
      flex-direction: row;
    }

    .course-enroll-banner-price {
      font-size: 2rem;
    }

    .enroll-banner-text {
      flex-basis: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      @include sm {
        padding: 0 2rem;
        order: 2;
      }

      @include md {
        padding: 3rem;
      }
    }

  }

  .enroll-banner-image, .enroll-banner-course-pack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include md {
      flex-basis: 30%;
    }


  }

  .enroll-banner-course-pack {
    a {
      color: $orange;
    }
    @include sm {
      order: 1;
      padding: 2rem 1rem 0;
      img {
        max-height: 150px;
      }
    }
    @include md {
      img {
        max-height: 250px;
      }
    }
  }

  .enroll-banner-image-bottom {
    position: relative;
    bottom: 0;
    max-height: 500px;
  }

  .enroll-banner-image {
    @include sm {
      display: none;
    }
    @include md {
      img {
        max-height: 500px;
      }
    }
  }

}

.amg-hero, .amu-hero {
  background-position: center right 35% !important;
}

.chc-hero {
  background-position: center right 45% !important;
}

.ppl-hero {
  background-position: top center !important;
}


// About Page
//
//


#about-main {
  .tile-floating-text-box {
    @include md {
      line-height: initial;
      font-size: 75%;
    }
    @include lg {
      line-height: 1.35;
      font-size: 100%;
    }
    @include xl {
      line-height: 2;
      font-size: 150%;
    }
  }
  .active-tile {
    background-image: url('/images/about-active-tile.webp');
    @include sm {
      background-position: center left;
    }
  }
  .internet-tile {
    background-image: url('/images/about-internet-tile.webp');
    @include sm {
      background-position: center left 30%;
    }
  }
  .c21-tile {
    background-image: url('/images/about-c21-tile.webp');
    @include sm {
      background-position: center left 15%;
    }
  }
  .efficiency-tile {
    background-image: url('/images/about-efficiency-tile.webp');
    @include sm {
      background-position: center left 25%;
    }
  }
  @include sm {
    .tile {
      aspect-ratio: auto;
      margin: 1rem 0;
    }
    .tile-floating-text-box {
      position: relative;
      padding: 2rem 0;
    }
  }
}

#about-moving-forward {
  padding-top: 2rem;
  text-align: center;
  button {
    margin-top: 2rem;
  }
}

// Contact
//
//

#contact-main {
  display: grid;
  @include sm {
    grid-template-columns: 10% 80% 10%;
  }
  @include md {
    grid-template-columns: 10% 35% 45% 10%;
    grid-template-rows: 1fr 3fr;
  }

  #contact-greeting {
    @include sm {
      order: 1;
      grid-column: 2;
    }
    @include md {
      grid-column: 2;
      grid-row: 1;
    }
  }

  #contact-address-wrapper {
    order: 3;
    @include sm {
      grid-column: 2;
    }
    @include md {
      grid-column: 2;
      grid-row: 2;
    }

  }

  #contact-address-wrapper, #contact-greeting {
    padding: 2rem 4rem;
    text-align: center;
  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 1rem 0;
    }
    
    a {
      color: $text;
    }
  }
}

#contact-form-wrapper {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @include sm {
      order: 2;
      grid-column: 2;
    }
    @include md {
      grid-column: 3;
      grid-row: 1 / span 2;
    }
  }


  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    input[type="text"], textarea {
      width: 100%;
      margin: 1rem 0;
      padding: 1rem;
      border: none;
      background-color: $lightblue;
    }

    input[type="button"] {
      margin-top: 2rem;
    }

    small {
      margin: 2rem 0;
      text-align: center;
    }
  }
}

// Policy Pages
//
//


.policy {
  background-color: white;
  padding: 0 3rem;
  ul {
    list-style: initial;
  }
  ul, ol {
    padding: 0 2rem;
  }

  li {
    padding: 0 1rem;
  }

  p {
    padding: 0 0.5rem;
  }

  .policy-item {
    font-size: 2rem;
    margin: 1rem 0;
  }
}

.course-calendar {

  h2, h3, h4, h5, h6 {
    text-align: left;
  }

  @include sm {
    padding: 2rem;
  }
  @include md {
    grid-column: 2 / span 3;
  }

}


// Landing Pages
//
//

.form-return {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8rem;
  text-align: center;
}

#landing-main {
  padding-top: 2rem;
  .landing-text {
    @include sm {
      grid-column: 2 / span 3;
    }
    @include md {
      grid-column: 3;
    }
  }

  h2 {
    margin-top: 4rem;
  }

  ul {
    li {
      list-style: circle;
    }
  }

  #callback-form-wrapper {
    grid-column: 1 / span 5;
    background-color: $medblue;
    h2 {
      margin-top: 1rem;
    }
  }

  #course-enroll-banner {
    margin-top: 3rem;
    padding: 2rem 0;
  }
}

.graduate-early-hero {
  .hero-text {
    text-shadow: $text 0 0 5px;
  }
}
